.signUp {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    transition: .3s;
    position: relative;

    &__title {
        margin-bottom: 16px;
        text-align: center;
        font-family: 'DINCon';
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.013em;
        color: #13322B;
    }

    &__box {
        display: flex;
        position: relative;
        outline: none;
    }

    &__input {
        width: 634px;
        height: 44px;
        padding: 10px 165px 10px 21px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 3px;
        background: #FFFFFF;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.013em;
        font-family: 'Source Sans Pro', sans-serif;
        outline: 0;
        color: #13322B;
        transition: .5s;
        z-index: 1;

        &::placeholder {
            transition: .5s;
        }

        &:focus {
            transition: 1s;
            border: 1px solid #EEA9B5;


            &::placeholder {
                color: #eea9b470;
                transition: .5s;
            }
        }

        &::placeholder {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: normal;
            font-size: 18px;
            color: #BDBDBD;
        }
    }

    &__button {
        outline: none;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 155px;
        height: 40px;
        background: #EEA9B5;
        // border: 1px solid #FFFFFF;
        border: none;
        border-radius: 0 2px 2px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        font-family: "DINCon";
        letter-spacing: -0.013em;
        color: #fff;
        z-index: 1;
        transition: 0.4s;
    
        &:hover {
            background: #f1788c;
            // border: none;
            color: #fff;
        }
    
        &:active {
            background: #fff;
            color: #EEA9B5;
        }
    }

    &__success {
        color: #EEA9B5;
        font-weight: bold;
        font-size: 22px;
        font-family: "DINCon";
        text-transform: uppercase;
        position: absolute;
        bottom: 100px;
        opacity: 0;
        transition: 1.2s;
    }

    &__success--show {
        opacity: 1;
        transition: 1.2s;
        bottom: 50px;
    }
}


// for 4k screen 
@media screen and (min-width: 2500px) and (max-width: 4200px) {
    .signUp {

        &__title {
            margin-top: 72px;
            margin-bottom: 32px;
            font-size: 44px;
            line-height: 68px;
        }

        &__box {
            width: 1200px;
            margin-bottom: 200px;
        }

        &__input {
            width: 800px;
            height: 88px;
            padding-top: 20px;
            padding-left: 42px;
            font-size: 36px;
            line-height: 52px;
        }

        &__button {
            width: 388px;
            height: 88px;
            border: 2px solid #FFFFFF;
            font-size: 36px;
            line-height: 40px;
        }        
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .signUp {

        &__title {
            margin-top: 72px;
            margin-bottom: 32px;
            font-size: 25px;
            line-height: 30px;
        }

        &__box {
            width: 320px;
            margin-bottom: 0px;
        }

        &__input {
            width: 200px;
            height: 22px;
            padding-top: 20px;
            padding-left: 42px;
            font-size: 36px;
            line-height: 52px;
        }

        &__button {
            width: 98px;
            height: 32px;
            border: 2px solid #FFFFFF;
            font-size: 12px;
            line-height: 30px;
        }        
    }
}