.allNewsArticlesPreview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 42px;
    background-color: #F4F4F4;
    min-height: 600px;
    max-width: 1440px;
}

.oops {
    margin: 220px auto auto;
    font-family: 'DINCon';
    font-weight: bold;
    font-size: 40px;
    color: #13322B;
    max-width: 430px;
    text-align: center;
    letter-spacing: 0.013em;
    line-height: 50px;
}

.oops-none {
    display: none;
}

.show-more--disabled {
    display: none;
}