.generalButton {
    margin-top: 58px;
    width: 194px;
    height: 44px;
    background: #EEA9B5;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    font-family: "DINCon";
    letter-spacing: -0.013em;
    color: #fff;
    transition: 0.4s;

    a {
        text-decoration: none;
        color: #fff;
        outline:none;

        &*,*:focus,*:hover{
            outline:none;
        }
    }

    &:hover {
        background: #f1788c;
        color: #fff;
    }

    &:active {
        background: #fff;
        color: #EEA9B5;
    }
}


// for 4k screen 
@media screen and (min-width: 2500px) and (max-width: 4200px) {
    .generalButton {
        width: 388px;
        height: 88px;
        border: 2px solid #FFFFFF;
        font-size: 36px;
        line-height: 40px;
    }
}
        