.map-popup {
  top: 200px;
  left: 100px;
  position: fixed;
  width: 854px;
  height: 600px;
  background-color: green;
}

.text {
  font-size: 40px;
  font-family: 'DINCon';
}
// .popup__header {
//   background: url('./MapPopUpHeader.png') no-repeat;
//   background-size: cover;
//   height: 300px;
// }