.wrapper {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(110, 108, 108, 0.363);
}
.map-popup {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  position:absolute;
  width: 854px;
  height: 600px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #E0E0E0;
  border-radius: 3px;
  opacity: 0;
  z-index: -1;
  transition: .3s;
}

.popup__block {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    }
}
.popup__header {
  background: url('./MapPopUpHeader.png') no-repeat;
  background-size: cover;
  height: 300px;
}

.popup__info {
  height: 100%;
  font-family: 'DINCon';
  & p {
    display: flex;
  }
  
&--green {
  background-color: #13322b ;
  color: white;
  padding: 20px 36px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.013em;
  font-weight: bold;

  & p div:first-child{
    max-width: 184px;
    width: 100vw;
  }
}

&--white {
  background-color: white;
  color: #13322b;
  padding: 20px 36px;

  
  & p div:first-child{
    max-width: 184px;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
  }

  & p div:last-child {
    max-width: 598px;
    width: 100%;
    font-size: 22px;
    line-height: 34px;
  }
}

}
.popup__close {
  border: none;
  color: white;
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  overflow: visible;
  &:focus {
    outline: none;
  }
}

.map-popup__button {
  text-align: center;
  padding-bottom: 50px;
}