.map-popup {
  top: 500px;
  left: 100px;
  position: fixed;
  display: none;
  width: 854px;
  height: 200px;
  background-color: green;
}

// .popup__header {
//   background: url('./MapPopUpHeader.png') no-repeat;
//   background-size: cover;
//   height: 300px;
// }