.instagram {
    background: #F4F4F4;
    max-width: 100%;
    padding-bottom: 100px;
    transition: .3s;

    &__title {
        margin-bottom: 36px;
        font-family: "DINCon";
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 0.013em;
        text-transform: uppercase;
        color: #13322B;
    }

    &__pictures {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__picture {
        width: 270px;
        height: 270px;
    }

    &__followingBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;

        &:hover {
            .instagram {
                &__text-btn {
                    color: #EEA9B5;
                    transition: .3s;
                }
            
                &__icon {
                    fill: #EEA9B5;
                    transition: .3s;
                }
            }
        }
    }

    &__text-btn {
        font-family: "DINCon";
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.013em;
        color: #13322B;
    }

    &__icon {
        position: relative;
        top: 6px;
        margin-left: 10px;
        fill: #13322B;
    }
}

// for small screen
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .instagram {

        &__picture {
            width: 200px;
            height: 200px;
        }        
    }
}

// for laptop screens
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .instagram {

        &__pictures {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        &__picture {
            width: 270px;
            height: 270px;
            margin-bottom: 50px;
        }        
    }
}