.navigation__item {
  margin: 10px 20px;
}

.navigation__link {
  text-decoration: none;
  color: white;
  font-family: "DINCon";
  transition: 0.3s;

  &:active {
    color: #eea9b5;
  }

  &:checked {
    color: #eea9b5;
  }

  &:hover {
    color: #eea9b5;
  }
}
