.footer {
  text-transform: uppercase;
  background: #13322b;
  font-family: D-DIN Condensed;
  letter-spacing: -0.013em;
  max-width: 100%;
  width: auto;

  &__pictureTitle {
    background: url(./FooterPictures/image.svg) no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%;
  }

  &__container {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
  }

  &__withElem {
    display: flex;
  }

  &__leftSide {
    width: 55%;
  }

  &__title {
    width: 100%;
    max-height: 330px;
  }

  &__list {
    display: flex;

    &-item {
      margin-right: 24px;
      margin-bottom: 24px;
      margin-top: 8px;
    }
  }

  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #eea9b5;
  }

  &__rightSide {
    width: 45%;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    &--langdon {
      max-width: 131px;
      max-height: 41px;
      margin-right: 50px;
    }

    &--bakery {
      max-width: 147px;
      max-height: 39px;
      margin-right: 50px;
    }

    &--natural {
      max-width: 44px;
      max-height: 42px;
      margin-right: 50px;
    }

    &--henry {
      max-width: 142px;
      max-height: 32px;
    }
  }

  &__copyright {
    margin-top: 26px;
  }

  &__copyrightText {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #fff;
  }
}

// for tablet screen
@media screen and (min-width: 426px) and (max-width: 767px) {
  .footer__withElem {
    display: block;
  }

  .footer__leftSide {
    width: 100%;
  }

  .footer__rightSide {
    width: 100%;
  }
}

// for Laptop screen
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 100%;
    height: auto;

    &__title {
      width: auto;
    }

    &__logos--langdon {
      max-width: 85px;
      margin-right: 30px;
    }

    &__logos--bakery {
      max-width: 90px;
      margin-right: 30px;
    }

    &__logos--natural {
      max-width: 32px;
      margin-right: 30px;
    }

    &__logos--henry {
      max-width: 103px;
    }

    &__copyright {
      margin-top: 40px;
    }
  }
}
