.supplyChain {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    &__title {
        margin-top: 100px;
        margin-bottom: 16px;
        font-family: 'DINCon';
        font-weight: bold;
        font-size: 72px;
        line-height: 101px;
        letter-spacing: 0.013em;
        color: #13322B;

    }

    &__text {
        max-width: 854px;
        margin-bottom: 36px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.013em;
        color: #13322B;

    }

    &__picture {
        background: url('./SupplyChainPictures/SupplyChain.png') no-repeat;
        background-size: cover;
        width: 854px;
        height: 356px;
    }

    &__list {

        &-title {
            margin-top: 36px;
            margin-bottom: 24px;
            max-width: 854px;
            width: 854px;
            font-family: 'DINCon';
            font-weight: bold;
            font-size: 22px;
            line-height: 34px;
            letter-spacing: 0.013em;
            color: #13322B;
            text-align: left;
        }

        &-item {
            margin-bottom: 24px;
            width: 854px;
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.013em;
            color: #13322B;

            &:before {
                padding: 5px;
                margin-right: 14px;
                background: url('./SupplyChainPictures/Rectangle\ 32.svg') center no-repeat;
                content: '';
            }
        }
    }
}

// for laptop screens
@media screen and (min-width: 768px) and (max-width: 1023px) {

   .supplyChain__title {
       font-size: 52px;
   }    

   .supplyChain__text {
        width: 678px;
        font-size: 20px;
   }

   .supplyChain__picture {
       width: 568px;
   }

   .supplyChain__list-title {
       width: 568px;
       font-size: 20px;
   }

   .supplyChain__list-item {
       width: 568px;
       font-size: 20px;
   }

}
    


// for 4k screens
@media screen and (min-width: 2500px) and (max-width: 4200px) {
    
    .supplyChain__title {
        font-size: 98px;
    }    
 
    .supplyChain__text {
        max-width: 1500px;
         width: 1500px;
         font-size: 35px;
    }
 
    // .supplyChain__picture {
    //     width: 1500px;
    // }
 
    .supplyChain__list-title {
        max-width: 1500px;
        width: 1500px;
        font-size: 35px;
    }
 
    .supplyChain__list-item {
        max-width: 1500px;
        width: 1500px;
        font-size: 35px;
    }
}