.newsArticle {
    width: 305px;
    max-height: 537px;
    box-shadow: 0px 4px 4px 0px #E0E0E0;
    border-radius: 3px;
    margin-bottom: 36px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
    
    &__photo{
        display: flex;
        justify-content: flex-end;
        background-size: cover;
        width: 100%;
        height: 203px;
        border-radius: 3px 3px 0 0;
    }

    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94px;
        height: 24px;
        font-family: 'DINCon';
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.013em;
        color: #000000;
        border-radius: 0 3px 0 3px;

        &--events {
            background-color: #27AE60;
        }

        &--how-to {
            background-color: #F65E78;
        }

        &--news {
            background-color: #56CCF2;
        }

        &--community {
            background-color: #BB6BD9;
        }

        &--fromorigin {
            background-color: #F2C94C;
        }
    }

    &__info {
        margin-left: 20px;
        margin-right: 20px;
        width: 265px;
        max-height: 252px;
        overflow: hidden;
    }

    &__title {
        margin-top: 12px;
        margin-bottom: 12px;
        font-family: 'DINCon';
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.012em;
        color: #13322B;
        transition: .3s;

        &:hover {
            color: #2f7c6b;
            transition: .3s;
        }
    }

    &__text {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.013em;
        color: #616161;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        border: none;
        background: none;
        margin-left: 250px;
        margin-right: 20px;
        margin-top: 25px;
        margin-bottom: 28px;
        fill: #EEA9B5;
    }

    &__button-arrow {
        width: 22px;
        height: 12px;
        transition: .3s;

        &:hover {
            fill: #f1788c;
            transform: scaleX(1.3);
        }
    }

    button {
        outline: none;
    }

    &:hover {
        box-shadow: 0px 4px 10px 1px #dddddd;
        transition: .3s;
    }
}

.singleNewsArticle {
    max-width: 854px;
    margin: 0 auto;
    margin-top: 36px;

    &__links {
        font-family: "DINCon";
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.013em;
        color: #000000;

        a {
            text-decoration: none;
            color: #000000;
            transition: .3s;
            padding: 0 12px;

            &:first-child {
                padding-left: 0;
            }

            &:hover {
                transition: .3s;
                color: #EEA9B5;
            }
        }
    }

    &__grey-title {
        padding-left: 12px;
        color: #616161;
    }

    &__title {
        margin-top: 36px;
        font-family: "DINCon";
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 0.013em;
        color: #13322B;
    }

    &__category {
        margin-top: 20px;
        padding: 6px;
        width: 100px;
        height: 30px;
        font-family: 'DINCon';
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.013em;
        color: #000000;
        border-radius: 0 3px 0 3px;
    }

    &__photo {
        margin-top: 36px;
        background-size: cover;
        height: 340px;
        width: 100%;
    }

    &__text {
        margin-top: 36px;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.013em;
        color: #13322B;
    }

    &__button {
        cursor: pointer;
        border: none;
        margin-top: 36px;
        margin-bottom: 108px;
        background: url('./NewsArticlePictures/long-arrow-alt-left.svg') left no-repeat;
        padding-left: 40px;
        font-family: 'DINCon';
        font-weight: bold;
        font-size: 25px;
        line-height: 20px;
        letter-spacing: -0.013em;
        text-transform: uppercase;
        color: #EEA9B5;

        &:hover {
            color: #f1788c;
            fill: #f1788c;
        }
    }
}