.greenBlockWithButton {
    display: flex;
    background: #13322b;


    &__picture {
        background: no-repeat;
        background-size: cover;
        width: 50%;
        height: 710px;
    }

    &__description {
        background: #13322b;
        width: 50%;
        margin: auto 0 auto 60px;
    }

    &__title {
        margin-bottom: 16px;
        text-align: left;
        font-weight: bold;
        font-size: 72px;
        line-height: 100px;
        color: #fff;
        font-family: "DINCon";

        &--south-melbourne {
            font-size: 40px;
        }
    }

    &__text {
        text-align: left;
        margin-bottom: 16px;
        max-width: 472px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.013em;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif
    }
}

// for 4k screen 
@media screen and (min-width: 2500px) and (max-width: 4200px) {
    .whoWeAre {
        &__picture {
            height: auto;
        }

        &__title {
            font-size: 98px;
        }

        &__text {
            width: 70%;
            font-size: 50px;
            line-height: 50px;
        }
    }
}

// for Medium screen
@media screen and (min-width: 1024px) and (max-width: 1344px) {
    .whoWeAre {
        &__picture {
            height: 810px;
        }

        &__title {
            max-width: 400px;
        }

        &__text {
            max-width: 450px;
        }
    }
}

// for laptops screen
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .whoWeAre {

        &__title {
            max-width: 300px;
            font-size: 52px;
        }

        &__text {
            max-width: 314px;
            font-size: 15px;
        }

        &__picture {
            height: 760px;
        }
    }
}
